html {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 250px 2fr;
  grid-template-rows: 60px 2fr;
  z-index: 999;
  font-size: 0.9em;
}

#header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fb8500;
  padding-left: 20px;
}

#header h1 {
  font-size: 40px;
  margin: 0 0 0 50px;
  color: #ffffff;
}

.taskLauncher {
  position: absolute;
  right: 30px;
  color: #fb8500;
  background-color: #ffffff;
  font-size: 30px;
  border-radius: 50%;
  border-style: none;
  height: 40px;
  width: 40px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transition: 0.2s all;
  cursor: pointer;
}
.taskLauncher:active {
  transform: scale(0.96);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#sideBar {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 20px 20px 0 20px;
  background-color: #fb8500;
  color: #000000;
}

#menu {
  margin: 25px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.menuBtn,
.createProjectBtn,
.projectBtn {
  width: 200px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #023047;
  color: #fb8500;
  padding: 10px 30px;
  border-style: none;
  border-radius: 6px;
  background-color: #ffffff;
  outline: none;
  transition: 0.2s all;
  cursor: pointer;
}

.menuBtn:active {
  transform: scale(0.96);
}

.createProjectBtn {
  width: 120px;
  margin-top: 10px;
  padding: 10px 0;
  color: #fb8500;
  background-color: #ffffff;
  cursor: pointer;
}

.createProjectBtn:active {
  transform: scale(0.96);
}

.projectBtn {
  background-color: #ffffff;
  color: #fb8500;
}

.projectBtn:active {
  transform: scale(0.96);
}

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects h2 {
  font-size: 30px;
  margin: 15px 0;
  color: #ffffff;
}

#projectDisplay {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#taskCreator,
#taskEditor {
  width: clamp(220px, 40%, 500px);
  display: none;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

#taskCreator .header,
#taskEditor .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1 / 2;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 10px;
}

.header h2 {
  margin: 5px 0;
}

#taskCreator .header .taskClose,
#taskEditor .header .editClose {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border-style: none;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-weight: bold;
  transition: 0.2s all;
  cursor: pointer;
}

.taskClose:active,
.editClose:active {
  transform: scale(0.92);
}

#taskForm,
#editForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
  padding-top: 10px;
}

#taskForm .title,
#editForm .editTitle {
  display: flex;
  flex-direction: column;
}

#taskForm .note,
#editForm .editNote {
  display: flex;
  flex-direction: column;
}

#taskForm .date,
#editForm .editDate {
  display: flex;
  flex-direction: column;
}

#taskForm .priority,
#editForm .editPriority {
  display: flex;
  flex-direction: column;
}

#taskForm .project,
#editForm .editProject {
  display: flex;
  flex-direction: column;
}

#taskForm .button {
  justify-self: end;
  align-self: center;
}

#taskForm input,
#editForm input {
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  padding: 10px;
}

#taskForm textarea,
#editForm textarea {
  font-family: "Roboto", sans-serif;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  padding: 10px;
  resize: none;
}

#taskForm select,
#editForm select {
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  padding: 10px;
}
#taskForm label,
#editForm label {
  margin-bottom: 5px;
}

#taskForm .addTask,
#editForm .editTask {
  align-self: flex-end;
}

.addTask,
.addProject,
.editTask {
  font-size: 15px;
  background-color: #fb8500;
  color: #ffffff;
  border-style: none;
  border-radius: 6px;
  padding: 10px 20px;
  transition: 0.2s all;
  margin-bottom: 10px;
  cursor: pointer;
}

.addTask:active {
  transform: scale(0.96);
}

#projectCreator {
  width: clamp(220px, 40%, 500px);
  display: none;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  background-color: #ffffff;
}

#projectCreator .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #d8d8d8;
}

#projectCreator .projectClose {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border-style: none;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-weight: bold;
  transition: 0.2s all;
  cursor: pointer;
}

.projectClose:active {
  transform: scale(0.92);
}

#projectForm {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

#projectForm .name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0;
}

#projectForm input {
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  padding: 10px;
}

#projectForm .addProject {
  align-self: flex-end;
  margin-bottom: 10px;
}

.addProject:active {
  transform: scale(0.96);
}

#content {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 35px 50px;
  background-color: #2f2f2f;
}

.taskCard {
  width: 90%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 6px;
}

.taskLeft,
.taskRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskCardDetailsContainer {
  width: 90%;
  max-width: 900px;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 6px;
  position: relative;
}

.taskCardDetails {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6px;
  gap: 15px;
}

.taskDetailsTop {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.taskDetailsBottom {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.closeTaskDetailsBtn {
  align-self: center;
  width: 60px;
  margin-top: 15px;
  left: 50%;
  padding: 5px 10px;
  text-align: center;
  background-color: #fb8500;
  color: #ffffff;
  border-radius: 6px;
  border-style: none;
}

.closeTaskDetailsBtn:active {
  transform: scale(0.96);
}

/* #taskEditor {
  display: block;
} */

.editTask:active {
  transform: scale(0.96);
}
